.resetpassword {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/login_background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    display: flex;
    min-width: 100%;
  }

  .resetpassword * {
    margin: 0;
    padding: 0;
  }

  .message {
    border-left: 4px solid #72aee6;
    padding: 12px;
    margin-left: 0;
    color: #3c434a;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: '0 1px 1px 0 rgb(0 0 0 / 10%)';
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }

  .form_container {
    background-color: rgba(46, 46, 66, 1);
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    left: 2%;
  }

  .form_container_resetpassword {
     max-width: 375px;
     position: relative;
     padding: 0;
     width: 100%;
     margin: 0;
  }

  .form_container_resetpassword > h1 {
     display: block;
     text-align: center;
  }

  .form_container_resetpassword:not(.clc-both-logo) h1 a {
    background-image: url('../../../assets/logo_WHITE.svg');
    background-size: contain;
    width: 200px;
    height: 45px;
    background-position: center;
  }

  .form_container_resetpassword h1 a {
    background-repeat: no-repeat;
    color: #3c434a;
    height: 84px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
  }
  
  .form_container_resetpassword label {
    color: rgba(255, 255, 255, 1);
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 3px;
  }

  .form_container_resetpassword form .input, .form_container_resetpassword input[type="text"], .form_container_resetpassword input[type="password"] {
    border: none;
    border-bottom: 2px solid #000;
    margin: 0px 0 16px 0;
    border-radius: 0px;
    background: rgba(255, 255, 255, 1);
    color: rgba(46, 46, 46, 1);
    font-size: 24px;
    line-height: 1.333333;
    width: 100%;
    padding: 0.1875rem 0 0.1875rem 0.3125rem;
    min-height: 40px;
    max-height: none;
  }

  .resetpasswordForm {
    height: 300px;
    background-color: rgba(219, 157, 70, 0);
    // padding: 20px 24px;
    border: none;
    // box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    box-sizing: border-box;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 34px;
    font-weight: 400;
    overflow: hidden;
    // background: #fff;
    // box-shadow: 0 1px 3px rgb(0 0 0 / 4%);
  }

  .password_input {
    padding-right: 2.5rem;
    font-size: 24px;
    line-height: 1.33333;
    width: 100%;
    padding: 0.1875rem 0.3125rem;
    min-height: 40px;
    max-height: none;
    margin: 0px 6px 16px 0;
  }

  .password_button {
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 14px;
    line-height: 2;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 40px;
    min-height: 40px;
    margin: 0;
    padding: 5px 9px;
    position: absolute;
    right: 0;
    top: 0;
    color: #2271b1;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    vertical-align: top;
  }

  .dashicons {
    width: 1.25rem;
    height: 1.25rem;
    top: 0.25em;
    position: relative;
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
    font-family: dashicons;
    color: #2271b1;
  }

  .dashicons:before {
    // content: "\f177";
  }

  .dashicons:before {
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
    font-family: dashicons;
    color: #2271b1;
  }

  .forgetmenot {
    font-weight: 400;
    float: left;
    margin-bottom: 0;
  }

  .forgetmenot input {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -.25rem .25rem 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    -webkit-appearance: none;
    // box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: .05s border-color ease-in-out;
  }

  .forgetmenot label {
    line-height: 1.5;
    vertical-align: baseline;
    color: rgba(255, 255, 255, 1);
  }

  .submit {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    max-width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .submitButton {
    min-height: 32px;
    line-height: 2.307692;
    padding: 0 12px;
    vertical-align: baseline;
    background: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    color: rgba(46, 46, 46, 1);
    float: right;
    text-decoration: none;
    text-shadow: none;
    // display: inline-block;
    font-size: 13px;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
  }

  .resetPassword {
    margin: 24px 0 0 0;
    font-size: 13px;
    padding: 0 24 0;
    padding-left: 24px;
  }

  .extra_container {
    width: 66.6666%;
  }

  .errors {
    color: #e97777;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .blackButtonStyle {
    background-color: #2e2e42;
    &:hover {
      background-color: #2e2e42 !important;
    }
  }



  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }